Package: com.yourname.autotouchmenu
Name: AutoTouch Mod Menu
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: أداة النقرات التلقائية المتقدمة للألعاب
Maintainer: YourName
Author: YourName
Section: Tweaks
